@font-face {
  font-family: "Sofia Pro Bold";
  src: url("Fonts/mostardesign-sofia-pro-light.eot?") format("eot"), url("Fonts/mostardesign-sofia-pro-light.woff2") format("woff2"), url("Fonts/mostardesign-sofia-pro-light.woff") format("woff"), url("Fonts/mostardesign-sofia-pro-light.ttf") format("truetype"), url("Fonts/mostardesign-sofia-pro-light.svg#Samplino") format("svg");
}

/* line 3, mobile-menu.scss */
.column {
  width: 100%;
  padding: .5em;
  padding-bottom: 0;
  display: none;
  /*Like and bag */
}
@media (max-width: 640px) {
  /* line 3, mobile-menu.scss */
  .column {
    display: inline-block;
  }
}
/* line 11, mobile-menu.scss */
.column button {
  margin-left: 0;
  margin-right: 17%;
  float: left;
  color: #002d47;
  background: url(img/mob-menu.png) no-repeat center;
  display: block;
  padding: 10px;
}
/* line 20, mobile-menu.scss */
.column .header_section_mob1 {
  width: 33.33%;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: 7%;
}
/* line 24, mobile-menu.scss */
.column .header_section_mob1 img {
  margin: 0 auto;
  border: none;
  width: 150px;
}
/* line 29, mobile-menu.scss */
.column .header_section_mob1 h1 {
  padding: 0;
  margin: 0;
}
/* line 36, mobile-menu.scss */
.column .header_section_mob2 {
  width: 33.33%;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: right;
  padding-top: 15px;
}
/* line 41, mobile-menu.scss */
.column .header_section_mob2 a {
  text-decoration: none;
  color: #002d47;
  display: inline-block;
}
/* line 43, mobile-menu.scss */
.column .header_section_mob2 a span {
  display: inline-block;
  padding-left: 5px;
}
/* line 50, mobile-menu.scss */
.column .header_section_mob2 a:first-child:before {
  content: url(img/bag.png);
}
/* line 56, mobile-menu.scss */
.column .stores_search_wrap {
  width: 100%;
  float: left;
  overflow: hidden;
  border-top: 1px solid #dddad6;
  text-align: left;
}
/* line 62, mobile-menu.scss */
.column .stores_search_wrap .stores {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 65, mobile-menu.scss */
.column .stores_search_wrap .stores h3 {
  font-size: 1em;
  font-weight: normal;
  border-right: 1px solid #dddad6;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  line-height: 3em;
  background: url(img/locationPin.png) no-repeat left center;
  background-size: 15px;
}
/* line 74, mobile-menu.scss */
.column .stores_search_wrap .stores h3 a {
  color: #002d47;
}
/* line 79, mobile-menu.scss */
.column .stores_search_wrap .search_mobile {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
/* line 83, mobile-menu.scss */
.column .stores_search_wrap .search_mobile .reveal2 {
  color: #002d47;
  float: left;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 15px;
  background: url(img/search.png) no-repeat;
  background-position: 10% 10%;
}
/* line 92, mobile-menu.scss */
.column .stores_search_wrap .search_mobile #details2 {
  display: none;
  float: left;
  margin-left: -100%;
  width: 180%;
}
/* line 98, mobile-menu.scss */
.column .stores_search_wrap .search_mobile #details2 input#search {
  width: 100%;
  height: 50px;
  background: #fff;
  font-size: 17px;
  display: inline;
  color: #002d47;
  padding-left: 15px;
  border: 1px solid #dddad6;
}

@media (max-width: 640px) {
  /* line 114, mobile-menu.scss */
  header, .main-nav, .search_button {
    display: none;
  }
}

/* line 125, mobile-menu.scss */
.sub-menu-reveal {
  background: white url(img/arrow_select.png) no-repeat;
  background-position: 90% 50%;
}

/* line 129, mobile-menu.scss */
.sub-menu-close {
  background: white url(img/cancel.png) no-repeat;
  background-position: 90% 50%;
}

/* line 136, mobile-menu.scss */
.sub-menu-mob li a {
  background: #fff;
}

/* line 144, mobile-menu.scss */
.mob-menu-list .login a:before {
  content: url(img/login-mob.png);
}
/* line 151, mobile-menu.scss */
.mob-menu-list .ned a:before {
  content: url(img/dutch_flag.png);
}
/* line 158, mobile-menu.scss */
.mob-menu-list .wishlist a:before {
  content: url(img/heart.png);
}

/* line 164, mobile-menu.scss */
.mob-menu-input {
  position: relative;
}
/* line 168, mobile-menu.scss */
.mob-menu-input:before {
  content: url(img/search.png);
  position: absolute;
  top: 35%;
  padding-left: 15px;
}
/* line 174, mobile-menu.scss */
.mob-menu-input input {
  width: 88%;
  border-radius: 0;
  border: 1px solid #dddad6;
  padding: 10px 0 10px 35px;
  color: #002d47;
}
